/**
    Document   : Haira
    Created on : Nov 08, 2019, 11:14
    Contributors     : Silatchom SIAKA
    Description:
        Enfinchezmoi extra styles
*/

/*@import url('https://fonts.header .googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');*/
@import url('https://fonts.header .googleapis.com/css?family=Montserrat:300,400|Open+Sans:300,400,600|Raleway|Source+Sans+Pro:300,400,600,700,900&display=swap');

body {background-repeat: no-repeat; height: 100vh; color: #fff!important;}

.icon-bar {background: #e74c3c}
.menu-button {padding: 20px 15px 0 10px!important;}
#navbar {background: transparent}
.navbar-header .navbar-brand {
    /*padding-top: 10px!important;*/
}
#navbar-search {display: none!important;}
.navbar-default.navbar-static-top {background: #ffffff;}

.navbar-default .navbar-nav>li>a {color: #fff!important;}
.navbar-default .navbar-nav>li>a:hover {color: #edc82f!important;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{background-color: #eee!important;}

.navbar-default .navbar-brand {color: #e74c3c;}

.navbar-default .navbar-brand:hover {color: #edc82f}

#navbar .navbar-brand.visible-xs {max-width: none;}

#navbar .glyphicon {color: #fc9c3a;}
.navbar-menu .dropdown:hover .dropdown-menu.dropdown-content {display: block!important;}

.navbar-menu .dropdown-menu.dropdown-content {display: none!important; left: 0!important;}

.navbar-menu .dropdown-menu a {padding: 12px 20px !important;}

.navbar-menu .dropdown:hover {background: #fc9c3a;}

#navbar-search input {background: #ababac85!important;}

.categories-links-xs {color: #464646!important;}

#site-menu .navbar-menu .navbar-nav {margin: 0 auto; text-align: center;}
#site-menu .navbar-nav.navbar-right {margin: 0 -15px 0 0;}
#user-home .label {margin-top: -18px}


/*{#.nav>li>a {#}*/
/*{#    padding: 19.5px 20px;#}*/
/*{#}#}*/

.nav-tabs li>a {color: #fff;}
.contact-owner .nav-tabs>li>a {border-radius: 0}

.nav-tabs a.active, .nav-tabs li>a:hover {color: #dadada;}

.search-header .nav-item:not(.active) {background: #222222ba; border-bottom: 1px solid #ecf0f1; border-right: 1px solid #ecf0f1; border-bottom-color: transparent; border-radius: 4px 4px 0 0;}

.search-header .nav-item:hover {border: none;}

.contact-owner .nav-item .navbar-link {border-right: 1px solid #ecf0f1; border-bottom-color: transparent; border-radius: 4px 4px 0 0!important;}
.contact-owner .nav-item.active .navbar-link {background: #222222ba!important; color: #fff!important;}

.contact-owner .nav-item:not(.active) .navbar-link {background: none!important; color: #464646!important; }



.banner {font-family: 'Lato', sans-serif; height: 90vh;}
.banner .centered-container {padding-top: 50px; float: none; margin: auto;}
.banner .centered-container h1 {font-weight: 900; font-size: 90px}
.banner .centered-container p {margin-top: 30px; font-size: 25px; line-height: 1.5em; word-spacing: .1rem}

.welcome.banner .banner-top .container {padding-top: 250px}
.welcome.banner .banner-top .container .header h1 {font-weight: 900}
.welcome.banner .banner-top .container .header .go {margin-top: 60px}
.welcome.banner .banner-top .container .header .go a {height: 44px;background: #fff;border-color: #fff;color: #ab2012;font-size: 18px;font-weight: 800;line-height: 1.1em;min-width: 100px;}
.welcome.banner .banner-top .container .header .go a:hover {background-color: #ab2012; border-color: #ab2012; color: #fff}

/*.about.banner {height: auto!}*/
.booking.banner {
    height: 50vh;
    /*background: #002; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #003, #004); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #003, #004); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    background-image: url(../img/booking-banner.png);
    background-size: cover;
    background-position: center;
    /*background: #DA4453;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #89216B, #DA4453);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #89216B, #DA4453); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    transition: 30s 8s background ease ;
}
.booking.products h1 {font-weight: 300;font-size: 60px;color: #080808;margin: 100px 0;}


.glamour-night.banner .centered-container {padding-top: 130px}
.glamour-night.banner .centered-container .text-has-shade {color: #edc82f; font-size: 62px}
.glamour-night.banner .centered-container p {line-height: 30px; color: #fff; font-size: 18px; padding-top: 10px}
.glamour-night.banner .centered-container .image {height: 500px; background: url(../img/glamour-night.jpg);  background-repeat: no-repeat; background-size: cover; background-position: center;}
.glamour-night.banner .legend {margin-top: 10px; font-size: 18px}
.glamour-night.banner .legend strong {color: #edc82f;}

.product {padding-bottom: 30px; padding-top: 30px;}
.product .cost {font-size: 16px; height: 100px}
.product .cost sup {top: -1.5em;}
.product .cost .value {font-size: 2.2vw; font-weight: 900;}

.product-ad {margin: 10px; background: #e74c3c; border: #e74c3c;}
.product-ad:hover , .search-house:hover, .continue-estimation:hover {background-color: #ab2012; border-color: #ab2012}
/*.carousel-inner {width: 1030px; height: 687px;}*/
.carousel-control {width: 10%;}
.carousel-inner .item {height: 92vh;}
.carousel-inner .side-image {-webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; height: 100%; background-position: center;-ms-filter: blur(8px); filter: blur(8px);}
.centered-image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    float: none;
    height: 100%;
    width: 70%;
    text-align: center;
    margin: auto;
    z-index: 3;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.contact-owner .header {background-color: rgba(216, 216, 216, 0.2)}
.contact-owner .header {float: none; margin: auto; text-align: center; position: static;}
.contact-owner .header>h2 {margin-top: 0; margin-bottom: 0; line-height: 50px; padding: 30px 0 50px;}
.contact-owner .body {color: #464646; padding:20px 5px;}
.contact-owner .body form .form-row {padding: 0 12px}
.product-detail {margin-top: 20px; margin-bottom: 50px}
.contact-owner {margin-top: 50px;}
.contact-owner .header .nav-item {width: 50%}
.contact-owner #call>h3 {padding: 20px 0;}
.contact-owner .tab-pane {min-height: 500px; height: 500px;}
#email-message {height: 200px}
.navbar-link {margin-right: 0!important;}


.item-image {height: 250px!important;width: 250px;-webkit-background-size: cover!important;background-size: cover!important;margin: auto;}
.trending-product {font-weight: 900; margin-bottom: 50px;}
.product .company-description {height: 120px;}
.product .add-ons {height: 50px; font-weight: 600; margin: 30px 0}
.error-message {margin: 20vh; text-align: center;}
.details {padding-left: 0;}
.property-details {margin: 100px 0}


.top-edge-panel a {color: #464646;}


/*.product {padding-top: 15px; padding-bottom: 15px;}*/
.ik-li .info {margin-left: 0;}

#content {margin-bottom: 50px;}
.contact-us ul * {display: inline;}

.carousel-caption *:not(a) {
    color: #fff!important;
}

.lang-switcher {float: right; margin: 30px 20px;}
.lang-switcher i {color: #fff; font-size: 23px; margin-left: -42px; position: absolute}
.lang-switcher select {background: transparent;border: none;/* color: #FFF */}
.flag-lang-switcher {background: transparent!important;border: none!important;padding: 0!important;/* width: 50px !important; */}

.social-icon { font-size: 25px; padding: 3vh 0 0 26px }
.ico { color: #c5c5c5}
.social-square { display: inline-block; font-size: 30px; margin-top: -10px; }
.ico-facebook:hover { color: #1d4b99 }
.ico-instagram:hover { color: #E1306C }
.ico-twitter:hover { color: #1c9dec }
.ico-youtube:hover { color: #f80000 }
.ico-whatsapp {color: #25d366}



#bottom-menu .lang-switcher {float: right;margin: 0 20px 0 25px;}
#bottom-menu .lang-switcher select {/* color: #203e96; */font-size: 12px;width: 45px;}



footer a:not(:hover), footer span {color: #fff}
footer a.company-name strong { color: #edc82f;}
footer a:hover { text-decoration: none; color: #edc82f }
.footer {padding-top: 2vh;margin: 0;}


@media (max-width: 767px) {
    .navbar-default .navbar-brand {color: #fff;}
    .icon-bar {background: #fff;}

    .footer-row-1 {padding-top: 0vh!important;}
    .company-list .ik-li ul li {border-bottom: none!important;}
    .product-ad-container {padding: 15vh 0;}
    .contact-us ul * {display: block;}
    .footer-logo {max-width: 20vw;}
    .footer-title {font-size: 8vw; }
    .footer h5 {font-size: 5vw}
    .footer ul li{font-size: 4vw;}
    .cover-image{width: 500px; height: 300px;}
    .contact-owner {float: none;}
    .product-detail {float: none;}
    footer {display: none!important;}
    .error-message {margin: 2vh}
    .carousel-inner .item {max-height: 600px}
    .carousel-inner .side-image {-webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; height: 100%; background-position: center;-ms-filter: blur(0px); filter: blur(0px);}
    .centered-image {width: 100%}
    .banner .centered-container h1 {font-size: 40px}
    .banner .centered-container p {font-size: 18px}
    .banner {height: 1000px}

    .gallery.banner {height: 600px}
    .gallery.banner .banner-top {height: inherit}

    .glamour-night.banner .centered-container p {text-align: justify}
    .glamour-night.banner .centered-container .text-has-shade {font-size: 30px; line-height: 60px}
    .glamour-night.banner .centered-container .image {height: 250px}

    .welcome.banner {height: auto!important;}
    .welcome.banner .banner-top .container {padding-top: 130px}
    .welcome.banner .banner-top .container .header .go a {margin-top: 20px}
    .welcome.banner .banner-top .container .header h1 {text-align: center; line-height: 46px}

    .booking.products h1{margin: 50px 0}

    .product .cost .value {font-size: 2em}
}



@media (max-width: 990px) {
    .product .company-description {height: auto;}
    .product .add-ons {height: auto}
    .details {height: 150px;}

    .banner .centered-container p {font-size: 20px}
    .banner .centered-container h1 {font-size: 70px}
}

@media (max-width: 1024px) and (min-width: 768px) {

    footer ul:nth-last-child(2) {display: none}
    footer {padding-top: 4vh!important;}
}



@media only screen and (orientation: landscape) {
    .main-title {margin-top: 10%}
}

@media only screen and (orientation: portrait) {
    .main-title {margin-top: 42%}
}

@media only screen and (max-width: 767px) {
    li.dropdown:hover > ul.dropdown-menu { background: #FFF !important; }
    .dropdown-menu>li>a { color: #217DBB !important; }
    .dropdown-menu .username { color: #233682 }
    .lang-switcher {float: right;margin: -5px 30px 20px;}
    .lang-switcher i {color: #676767; font-size: 14px; margin-left: -42px; position: absolute}
    .lang-switcher select {background: transparent; border: none; color: #676767}
    .lang-switcher .inner.open {width: 66px!important;}
    #footer {
        background: #fff;
        color: #b7b7b7;
        bottom: 0;
        font-size: 13px;
        position: absolute;
        padding: 7px 0;
        text-align: center;
        width: 85%;
    }

    #footer a {
        color: #b7b7b7;
        font-size: 13px;
    }

    .main-title {
        font-size: 2.3em;
        line-height: 45px
    }

    #site-menu .kakocase, #site-menu .tsunami {
        display: none
    }

    #bottom-menu li {
        margin-left: 0
    }

    #bottom-menu {
        bottom: inherit;
        left: 0;
        margin-left: 0;
        margin-top: 100px;
        text-align: center
    }

    #bottom-menu li {
        margin-left: 25px
    }

    .choices > div {
        margin-top: 35px
    }

    .main-nav .lang-switcher {
        float: right;
        margin: 15px 0 20px 0
    }

    .main-nav .lang-switcher select {
        background: transparent;
        border: none;
        color: #243681;
        border-radius: 3px;
        font-size: 15px;
        padding: 5px;
        width: 45px;
    }

    .navbar-right .dropdown-menu {
        top: 50px;
    }
}

@media only screen and (min-width: 768px) {
        .navbar-default .navbar-brand {
            padding: 14px 15px 19px 0;
        }
        .navbar-nav>li>a:not(.icon) {
            line-height: 25px;
        }

        .main-title {
            font-size: 4em;
            margin: 180px 0 75px;
            text-indent: 14px;
        }


        #bottom-menu li {float: right; list-style-type: none;margin-left: 15px;}

        /*#navbar-search input {*/
        /*    background: rgba(102, 102, 102, 0.22);*/
        /*    color: #233682*/
        /*}*/

        #navbar i.fa-search {
            font-size: 15px;
            margin: 13px 0 0 10px;
            position: absolute;
        }

        .navbar li a {
            font-size: 14px
        }

        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
            background-color: rgba(199, 199, 199, 0.33)
        }

        .dropdown-menu > li > a {
            color: #233682
        }

        #navbar .navbar-nav .open .dropdown-menu {
            border-radius: 4px;
            top: 3px;
            right: 3px;
        }


        .pricing-header h2 {
            font-size: 25px
        }

        .pricing-header {
            padding: 12px 0 10px
        }

        .price .currency, .price .duration {
            font-size: .8rem
        }

        .price .value {
            font-size: 2rem
        }

        .main-nav .lang-switcher {
            float: right;
            margin: 15px 0 20px 0
        }

        .main-nav .lang-switcher select {
            background: transparent;
            border: none;
            color: #243681;
            border-radius: 3px;
            font-size: 12px;
            padding: 5px;
            width: 47px;
        }
    }

@media only screen and (min-width: 992px) and (orientation: landscape) {
        .main-title {
            margin-top: 25%
        }

        .pricing-header h2 {
            font-size: 30px
        }

        .pricing-header {
            padding: 1.9em 0 1.6em;
        }

        .price .currency, .price .duration {
            font-size: 1rem
        }

        .price .value {
            font-size: 4rem
        }

        #navbar-search {
            width: 450px;
            margin-left: 24px;
        }

        .main-nav .lang-switcher {
            float: right;
            margin: 15px 0 20px 0
        }

        .main-nav .lang-switcher select {
            background: transparent;
            border: none;
            color: #243681;
            border-radius: 3px;
            font-size: 13px;
            padding: 5px;
            width: 47px;
        }
    }

@media (max-width: 991px) {
    li.dropdown:hover > ul.dropdown-menu { max-height: 450px; overflow: auto; }
}

@media only screen and (min-width: 1200px) {
    #navbar-search {
        width: 500px;
    }
}
